body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 30px;
}

.title {
    text-align: center;
    color: white;
    margin-bottom: 30px;
}

.container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.cards{
    width: 50%;
    position: relative;
}
.deleteCard{
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: red;
    color: aliceblue;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    cursor: pointer;
}